In [2]:
import pandas as pd

In [5]:
# Load the dataset
data = "all_locations_daily_weather_data.csv"
df = pd.read_csv(data)

In [4]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55128 entries, 0 to 55127
Data columns (total 18 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   date                       55128 non-null  object
 1   latitude                   55128 non-null  float64
 2   longitude                  55128 non-null  float64
 3   weather_code               55128 non-null  float64
 4   temperature_2m_max         55128 non-null  float64
 5   temperature_2m_min         55128 non-null  float64
 6   temperature_2m_mean        55128 non-null  float64
 7   apparent_temperature_max   55128 non-null  float64
 8   apparent_temperature_min   55128 non-null  float64
 9   apparent_temperature_mean  55128 non-null  float64
 10  sunrise                    55128 non-null  int64
 11  sunset                     55128 non-null  int64
 12  daylight_duration          55128 non-null  float64
 13  sunshine_duration          55128 non-null  float64
 14  precipitation_sum          55128 non-null  float64
 15  rain_sum                   55128 non-null  float64
 16  snowfall_sum               55128 non-null  float64
 17  precipitation_hours        55128 non-null  float64
dtypes: float64(15), int64(2), object(1)
memory usage: 7.6+ MB
None

In [6]:
df.head()

,date,latitude,longitude,weather_code,temperature_2m_max,temperature_2m_min,temperature_2m_mean,apparent_temperature_max,apparent_temperature_min,apparent_temperature_mean,sunrise,sunset,daylight_duration,sunshine_duration,precipitation_sum,rain_sum,snowfall_sum,precipitation_hours
0,1999-12-31 13:00:00+00:00,-37.785587,144.939758,3.0,19.1105,9.560500,14.729251,16.202528,7.653307,11.797680,0,0,53039.860,47368.580,0.000000,0.000000,0.0,0.0
1,2000-01-01 13:00:00+00:00,-37.785587,144.939758,1.0,21.7105,9.610500,15.910500,23.871464,7.853928,15.480630,0,0,53001.977,49165.380,0.000000,0.000000,0.0,0.0
2,2000-01-02 13:00:00+00:00,-37.785587,144.939758,53.0,27.8605,12.160501,19.006330,27.015007,11.761921,17.610464,0,0,52960.254,42835.940,3.200000,3.200000,0.0,5.0
3,2000-01-03 13:00:00+00:00,-37.785587,144.939758,63.0,17.3605,12.310500,14.270916,15.073948,8.613014,11.322624,0,0,52914.793,41880.004,15.700001,15.700001,0.0,23.0
4,2000-01-04 13:00:00+00:00,-37.785587,144.939758,51.0,16.8605,12.410501,14.518834,12.840101,7.805964,10.444478,0,0,52865.703,30416.762,1.800000,1.800000,0.0,10.0

🔹 Missing Values:
Series([], dtype: int64)